/* BUTTONS.SCSS */

$btn-primary-color: map-get($root_colors, red);
$btn-secondary-color: #121212;

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em;
  
  &.btn-primary {
    color: #fff;
    padding: 0.5em 1.5em;
    background: $btn-primary-color;
    
    &:hover {
      text-decoration: none;
      background: lighten($btn-primary-color, 3%);
    }
  }
  
  &.btn-secondary {
    color: $btn-primary-color;
    padding: 0.5em 1.5em;
    box-shadow: 0 0 0 1px $btn-secondary-color inset;
    
    &:hover {
      text-decoration: none;
      box-shadow: 0 0 0 2px $btn-secondary-color inset;
    }
  }
}
