/* eyebrow */

.eyebrow {
  background: $eyebrow-bg;
  color: $eyebrow-color;
  padding-top: $eyebrow-padding;
  padding-bottom: $eyebrow-padding;
  
  a {
    color: $eyebrow-color;
    
    &.eyebrow-brand {
      float: left;
      margin-right: $eyebrow-brand-margin;
      font-family: $font-family-sans-serif;
      font-size: $eyebrow-brand-font-size;
      font-weight: 700;
      line-height: 1em;
      letter-spacing: -0.02em;

      &:hover {
        text-decoration: none;
      }
    }
  }
  
  .eyebrow-nav {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
      font-family: $font-family-sans-serif;
      float: left;
      line-height: 1em;
      font-weight: 400;
      margin: (($eyebrow-brand-font-size - $eyebrow-nav-font-size) / 2) $eyebrow-nav-margin 0 0;
      
      a {
        font-size: $eyebrow-nav-font-size;
        text-transform: uppercase;
        
        &.btn {
          margin-top: -0.5em;
          color: #fff;

          &.btn-secondary {
            box-shadow: 0 0 0 1px #aaa inset;
          }
        }
      }
      
      &:last-child{
        margin-right: 0;
      }
    }
    
    &.eyebrow-nav-right {
      float: right;
    }
  }
}
