/* GRID.SCSS */

$grids: (2: 4, 3: 4, 4: 4, 5: 4, 6: 2, 7: 1.5, 8: 1);

.container {
  width: 960px;
  max-width: 98%;
  margin: 0 auto;
  
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.last {
  margin-right: 0 !important;
  clear: right;
}

.col {
  display: block;
  margin-bottom: 0px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@each $cols, $gutter in $grids {
  .col-#{$cols} {
    @extend .col;
    margin-right: $gutter * 1%;
  }
  
  @for $i from 1 to $cols {
    $w: (100 - $gutter * ($cols - 1)) / $cols;
    .col-#{$i}of#{$cols} {
      @extend .col-#{$cols};
      width: (($i * $w) + (($i - 1) * $gutter)) * 1%;
    }
  }
}
