/* HERO.SCSS */

.hero {
  text-align: center;
  color: $hero-text-color;
  background-color: get-color(gray);
  padding: 3.5em 0;

  .hero-heading {
    margin: 0;
  }
  .hero-subtitle {
    font-family: $font-family-sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.4em;
    margin: 0.4em 0;
  }
}

@each $name, $color in $palette {
  .#{$name} {
    .hero {
      background-color: get-color($name, root);
    }
  }
}
