/* HERO.SCSS */

@mixin hero-background($c) {
  background: $c;
  background: -webkit-linear-gradient(295deg, darken(adjust-hue($c, -5%), 3%), lighten(adjust-hue($c, 5%), 3%));
}

.hero {
  text-align: center;
  color: #fff;
  @include hero-background($default_color);
  padding: 3.5em 0;

  .hero-heading {
    margin: 0;
  }
  .hero-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.4em;
    margin: 0.4em 0;
  }
}

@each $name, $color in $root_colors {
  .#{$name} {
    .hero {
      @include hero-background($color);
    }
  }
}
