/* TYPE.SCSS */

p {
  font-family:     $font-family-serif;
  font-size:       $font-size-base;
  font-weight:     400;
  line-height:     1.75em;
  letter-spacing:  0;
}
ul, ol {
  margin:          0 0 2em;
}
li {
  font-weight:     300;
  line-height:     1.5em;
  margin-bottom:   0.5em;
}
h1 {
  font-family:     $font-family-serif;
  font-size:       55px;
  font-weight:     300;
  line-height:     1.1em;
  letter-spacing:  -0.03em;
}
h2 {
  font-family:     $font-family-sans-serif;
  font-size:       28px;
  font-weight:     400;
  line-height:     1.15em;
  letter-spacing:  -0.03em;
}
h3 {
  font-family:     $font-family-serif;
  font-size:       40px;
  font-weight:     400;
  line-height:     1em;
  letter-spacing:  -0.022em;
}
h4 {
  font-family:     $font-family-sans-serif;
  font-size:       30px;
  font-weight:     400;
  line-height:     1.05em;
  letter-spacing:  -0.01em;
}
h5 {
  font-family:     $font-family-sans-serif;
  font-size:       21px;
  font-weight:     600;
  line-height:     1.05em;
  letter-spacing:  0.05em;
  text-transform:  uppercase;
}
h6 {
  font-family:     $font-family-sans-serif;
  font-size:       17px;
  font-weight:     600;
  line-height:     1.05em;
  letter-spacing:  0.05em;
  text-transform:  uppercase;
}
strong {
  font-weight:     400;
}
a {
  color:           $link-color;
  text-decoration: none;
  
  &:hover {
    color:         $link-hover-color;
  }
}
