/* VARIABLES.SCSS */

/* colors */

$palette: (
  red:    ( root: #C40022, text: #C40022 ),
  orange: ( root: #FF9911, text: #FF8800 ),
  yellow: ( root: #FFCC00, text: #FFBB00 ),
  green:  ( root: #22CC44, text: #11BB33 ),
  teal:   ( root: #00BBDD, text: #00AACC ),
  blue:   ( root: #3399EE, text: #2288DD ),
  purple: ( root: #8866FF, text: #7755EE ),
  gray:   ( root: #77818B, text: #66707A )
);

$text-color:       #5d5d5d;
$header-color:     #1c1c1c;
$link-color:       get-color(red);
$link-hover-color: desaturate($link-color, 7%);
$rule-color:       #d3d3d3;


/* typography */

$fonts: (
  'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700',
  'http://fonts.googleapis.com/css?family=Roboto+Slab:300,400'
);

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-serif:      'Roboto Slab', serif;
$font-size-base:         15px;


/* eyebrow */

$eyebrow-bg:              #2b2b2b;
$eyebrow-color:           #fafafa;
$eyebrow-padding:         $font-size-base * 0.8;
$eyebrow-brand-font-size: $font-size-base * 3;
$eyebrow-brand-margin:    $eyebrow-brand-font-size * 1.25;
$eyebrow-nav-font-size:   $font-size-base;
$eyebrow-nav-margin:      $eyebrow-nav-font-size * 2;


/* hero */

$hero-text-color: #fff;


/* buttons */

$btn-primary-color:   get-color(red);
$btn-secondary-color: #121212;


/* tabs */

$tabs-rule-color:   $rule-color;
$tabs-active-color: $text-color;
$tabs-hover-color:  #eee;
$tabs-child-color:  $header-color;
