/* CORNERSTONE */
/* initalize */
/* MIXINS.SCSS */
/* FUNCTIONS.SCSS */
/* VARIABLES.SCSS */
/* colors */
/* typography */
/* eyebrow */
/* hero */
/* buttons */
/* tabs */
/* base */
/* BASE.SCSS */
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:300,400");
body {
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  margin: 0; }

/* TYPE.SCSS */
p {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.75em;
  letter-spacing: 0; }

ul, ol {
  margin: 0 0 2em; }

li {
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 0.5em; }

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 55px;
  font-weight: 300;
  line-height: 1.1em;
  letter-spacing: -0.03em; }

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.15em;
  letter-spacing: -0.03em; }

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.022em; }

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.05em;
  letter-spacing: -0.01em; }

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.05em;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.05em;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

strong {
  font-weight: 400; }

a {
  color: #c40022;
  text-decoration: none; }
  a:hover {
    color: #bd0726; }

/* structure */
/* GRID.SCSS */
.container {
  width: 960px;
  max-width: 98%;
  margin: 0 auto; }
  .container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.last {
  margin-right: 0 !important;
  clear: right; }

.col-1of2, .col-1of3, .col-2of3, .col-1of4, .col-2of4, .col-3of4, .col-1of5, .col-2of5, .col-3of5, .col-4of5, .col-1of6, .col-2of6, .col-3of6, .col-4of6, .col-5of6, .col-1of7, .col-2of7, .col-3of7, .col-4of7, .col-5of7, .col-6of7, .col-1of8, .col-2of8, .col-3of8, .col-4of8, .col-5of8, .col-6of8, .col-7of8 {
  display: block;
  margin-bottom: 0px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.col-1of2 {
  margin-right: 4%; }

.col-1of2 {
  width: 48%; }

.col-1of3, .col-2of3 {
  margin-right: 4%; }

.col-1of3 {
  width: 30.66667%; }

.col-2of3 {
  width: 65.33333%; }

.col-1of4, .col-2of4, .col-3of4 {
  margin-right: 4%; }

.col-1of4 {
  width: 22%; }

.col-2of4 {
  width: 48%; }

.col-3of4 {
  width: 74%; }

.col-1of5, .col-2of5, .col-3of5, .col-4of5 {
  margin-right: 4%; }

.col-1of5 {
  width: 16.8%; }

.col-2of5 {
  width: 37.6%; }

.col-3of5 {
  width: 58.4%; }

.col-4of5 {
  width: 79.2%; }

.col-1of6, .col-2of6, .col-3of6, .col-4of6, .col-5of6 {
  margin-right: 2%; }

.col-1of6 {
  width: 15%; }

.col-2of6 {
  width: 32%; }

.col-3of6 {
  width: 49%; }

.col-4of6 {
  width: 66%; }

.col-5of6 {
  width: 83%; }

.col-1of7, .col-2of7, .col-3of7, .col-4of7, .col-5of7, .col-6of7 {
  margin-right: 1.5%; }

.col-1of7 {
  width: 13%; }

.col-2of7 {
  width: 27.5%; }

.col-3of7 {
  width: 42%; }

.col-4of7 {
  width: 56.5%; }

.col-5of7 {
  width: 71%; }

.col-6of7 {
  width: 85.5%; }

.col-1of8, .col-2of8, .col-3of8, .col-4of8, .col-5of8, .col-6of8, .col-7of8 {
  margin-right: 1%; }

.col-1of8 {
  width: 11.625%; }

.col-2of8 {
  width: 24.25%; }

.col-3of8 {
  width: 36.875%; }

.col-4of8 {
  width: 49.5%; }

.col-5of8 {
  width: 62.125%; }

.col-6of8 {
  width: 74.75%; }

.col-7of8 {
  width: 87.375%; }

/* LAYOUT.SASS */
#content {
  margin: 2em 0; }

/* modules */
/* eyebrow */
.eyebrow {
  background: #2b2b2b;
  color: #fafafa;
  padding-top: 12px;
  padding-bottom: 12px; }
  .eyebrow a {
    color: #fafafa; }
    .eyebrow a.eyebrow-brand {
      float: left;
      margin-right: 56.25px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 45px;
      font-weight: 700;
      line-height: 1em;
      letter-spacing: -0.02em; }
      .eyebrow a.eyebrow-brand:hover {
        text-decoration: none; }
  .eyebrow .eyebrow-nav {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none; }
    .eyebrow .eyebrow-nav li {
      font-family: "Source Sans Pro", sans-serif;
      float: left;
      line-height: 1em;
      font-weight: 400;
      margin: 15px 30px 0 0; }
      .eyebrow .eyebrow-nav li a {
        font-size: 15px;
        text-transform: uppercase; }
        .eyebrow .eyebrow-nav li a.btn {
          margin-top: -0.5em;
          color: #fff; }
          .eyebrow .eyebrow-nav li a.btn.btn-secondary {
            box-shadow: 0 0 0 1px #aaa inset; }
      .eyebrow .eyebrow-nav li:last-child {
        margin-right: 0; }
    .eyebrow .eyebrow-nav.eyebrow-nav-right {
      float: right; }

/* HERO.SCSS */
.hero {
  text-align: center;
  color: white;
  background-color: #77818b;
  padding: 3.5em 0; }
  .hero .hero-heading {
    margin: 0; }
  .hero .hero-subtitle {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.4em;
    margin: 0.4em 0; }

.red .hero {
  background-color: #c40022; }

.orange .hero {
  background-color: #ff9911; }

.yellow .hero {
  background-color: #ffcc00; }

.green .hero {
  background-color: #22cc44; }

.teal .hero {
  background-color: #00bbdd; }

.blue .hero {
  background-color: #3399ee; }

.purple .hero {
  background-color: #8866ff; }

.gray .hero {
  background-color: #77818b; }

/* BUTTONS.SCSS */
.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.1em; }
  .btn.btn-primary {
    color: #fff;
    padding: 0.5em 1.5em;
    background: #c40022; }
    .btn.btn-primary:hover {
      text-decoration: none;
      background: #bd0726; }
  .btn.btn-secondary {
    color: #c40022;
    padding: 0.5em 1.5em;
    box-shadow: 0 0 0 1px #121212 inset; }
    .btn.btn-secondary:hover {
      text-decoration: none;
      box-shadow: 0 0 0 2px #121212 inset; }

/* TABS.SCSS */
.tabs-vertical {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 3em 0;
  list-style: none;
  border-right: 1px solid lightgray; }
  .tabs-vertical > li {
    line-height: 1.1em;
    margin: 0; }
    .tabs-vertical > li > a {
      display: block;
      font-size: 0.9em;
      font-weight: 400;
      text-transform: uppercase;
      text-indent: 50em;
      padding: 0.7em 0;
      margin-left: -50em; }
      .tabs-vertical > li > a:hover {
        background: #eeeeee;
        text-decoration: none; }
      .tabs-vertical > li > a.active {
        background-color: #5d5d5d;
        color: #fff; }
        .tabs-vertical > li > a.active:after {
          content: ' ';
          border-left: 0.7em solid #5d5d5d;
          border-top: 0.7em solid transparent;
          border-bottom: 0.7em solid transparent;
          width: 0;
          height: 0;
          left: 0.5em;
          position: relative;
          float: right; }
    .tabs-vertical > li > ul {
      margin: 0.25em 0;
      padding: 0;
      list-style: none; }
      .tabs-vertical > li > ul > li {
        line-height: 1em;
        margin: 0; }
        .tabs-vertical > li > ul > li > a {
          display: block;
          font-size: 0.8em;
          font-weight: 400;
          text-transform: uppercase;
          padding: 0.4em 0 0.4em 1em;
          color: #1c1c1c; }
          .tabs-vertical > li > ul > li > a.active {
            font-weight: 600; }
